
@{
    ViewBag.Title = "TermsAndCondition";
}

<!-- breadcrumb end here -->
<div class="bread-crumb">
    <div class="container">
        <div class="matter">
            <div class="pull-left">
                <ul class="list-inline">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("TermsAndCondition", "User")">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="pull-right">
                <h2>Terms & Conditions</h2>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end here -->
<!-- faq start here -->
<div class="commontop">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="terms">
                    <h5>Terms & Conditions</h5>
                    <hr />
                    <div class="mainbox">
                        <div class="box">
                            <h4>01. Classifiedspot Introduction</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium dictum diam vel laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dictum justo nec lacus porta congue. Phasellus convallis ut urna a lobortis. Vestibulum bibendum quam ligula, ac fringilla mi efficitur sed. Curabitur non augue enim. Sed efficitur semper elit, eget gravida est scelerisque ut. Curabitur non ex lobortis ligula auctor dignissim vel in est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam vel rutrum tellus, vitae hendrerit libero. Morbi posuere augue at egestas cursus. Curabitur ut leo malesuada nibh facilisis semper vel non justo.</p>
                        </div>
                        <div class="box">
                            <h4>02. Acceptance</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium dictum diam vel laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dictum justo nec lacus porta congue. Phasellus convallis ut urna a lobortis. Vestibulum bibendum quam ligula, ac fringilla mi efficitur sed. Curabitur non augue enim. Sed efficitur semper elit, eget gravida est scelerisque ut. Curabitur non ex lobortis ligula auctor dignissim vel in est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam vel rutrum tellus, vitae hendrerit libero. Morbi posuere augue at egestas cursus. Curabitur ut leo malesuada nibh facilisis semper vel non justo.</p>
                        </div>
                        <div class="box">
                            <h4>03. Conduct</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium dictum diam vel laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dictum justo nec lacus porta congue. Phasellus convallis ut urna a lobortis. Vestibulum bibendum quam ligula, ac fringilla mi efficitur sed. Curabitur non augue enim. Sed efficitur semper elit, eget gravida est scelerisque ut. Curabitur non ex lobortis ligula auctor dignissim vel in est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam vel rutrum tellus, vitae hendrerit libero. Morbi posuere augue at egestas cursus. Curabitur ut leo malesuada nibh facilisis semper vel non justo.</p>
                        </div>
                        <div class="box">
                            <h4>04. Access to the Services</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium dictum diam vel laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dictum justo nec lacus porta congue. Phasellus convallis ut urna a lobortis. Vestibulum bibendum quam ligula, ac fringilla mi efficitur sed. Curabitur non augue enim. Sed efficitur semper elit, eget gravida est scelerisque ut. Curabitur non ex lobortis ligula auctor dignissim vel in est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam vel rutrum tellus, vitae hendrerit libero. Morbi posuere augue at egestas cursus. Curabitur ut leo malesuada nibh facilisis semper vel non justo.</p>
                        </div>
                        <div class="box">
                            <h4>05. No Spam Policy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium dictum diam vel laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dictum justo nec lacus porta congue. Phasellus convallis ut urna a lobortis. Vestibulum bibendum quam ligula, ac fringilla mi efficitur sed. Curabitur non augue enim. Sed efficitur semper elit, eget gravida est scelerisque ut. Curabitur non ex lobortis ligula auctor dignissim vel in est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam vel rutrum tellus, vitae hendrerit libero. Morbi posuere augue at egestas cursus. Curabitur ut leo malesuada nibh facilisis semper vel non justo.</p>
                        </div>
                        <div class="box">
                            <h4>06. User Submissions</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium dictum diam vel laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dictum justo nec lacus porta congue. Phasellus convallis ut urna a lobortis. Vestibulum bibendum quam ligula, ac fringilla mi efficitur sed. Curabitur non augue enim. Sed efficitur semper elit, eget gravida est scelerisque ut. Curabitur non ex lobortis ligula auctor dignissim vel in est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam vel rutrum tellus, vitae hendrerit libero. Morbi posuere augue at egestas cursus. Curabitur ut leo malesuada nibh facilisis semper vel non justo.</p>
                        </div>
                        <div class="box">
                            <h4>07. Privacy POlicy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium dictum diam vel laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dictum justo nec lacus porta congue. Phasellus convallis ut urna a lobortis. Vestibulum bibendum quam ligula, ac fringilla mi efficitur sed. Curabitur non augue enim. Sed efficitur semper elit, eget gravida est scelerisque ut. Curabitur non ex lobortis ligula auctor dignissim vel in est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam vel rutrum tellus, vitae hendrerit libero. Morbi posuere augue at egestas cursus. Curabitur ut leo malesuada nibh facilisis semper vel non justo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq end here -->
